@font-face {
    font-family: myFont;
    src: url(../images/Stars-Regular.ttf);
}

/* for cloud buttons */
.cloud-button {
    z-index: 4;
    width: 350px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;

    --hover-scale: 1;
    animation: float 5s ease-in-out infinite;
    animation-delay: var(--random-delay, 0s);

    transition: transform 0.3s ease;
}

.cloud-button:hover {
    transform: scale(1.35);
    --hover-scale: 1.35;

    transform-origin: center;
}

/*
Source - https://stackoverflow.com/a
Posted by Johannes
Retrieved 2025-12-15, License - CC BY-SA 4.0
*/

.fade-out {
    animation: fadeOut ease 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        transform: scale(1.6);
        --hover-scale: 1.6;
        opacity: 1;
    }

    100% {
        transform: scale(.7);
        --hover-scale: .6;
        opacity: 0;
    }
}

/* for star buttons */
.star-button {
    z-index: 3;
    width: 100px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
    --hover-scale: 1;
    animation: float 5s ease-in-out infinite;
    animation-delay: var(--random-delay, 0s);

    transition: transform 0.3s ease;
}

.star-button:hover {
    transform: scale(1.35);
    --hover-scale: 1.35;

    transform-origin: center;
}

/* stars ans clouds are the small fluffs */
.stars {
    z-index: 2;
    width: 30px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
    /* animation: float 5s ease-in-out infinite; */

}

.stars:hover {
    /* transform: scale(1.35); */
    --hover-scale: 1.35;

    transform-origin: center;
}

.clouds:hover {
    /* transform: scale(1.35); */
    --hover-scale: 1.35;

    transform-origin: center;
}

.clouds {
    z-index: 2;
    width: 500px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
    /* animation: float 5s ease-in-out infinite; */

}

/* unfortunately this doenst work sometimes, idk why */
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;

}

/* regular text */
.text {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.story-text {
    pointer-events: none;
    z-index: 10;

    font-family: myFont;
    text-align: center;
    font-size: xxx-large;
    color: white;
    -webkit-text-stroke: 1px white;
}

/* highlights */
.blue {
    -webkit-text-stroke: 1px #63b4ff;
}

.purple {
    -webkit-text-stroke: 1px #ff6be1;
}

.green {
    -webkit-text-stroke: 1px #a9ff6f;
}

.yellow {
    -webkit-text-stroke: 1px #ffdf41;
}

/* text at last page */
.end-text-1,
.end-text-2 {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    font-family: myFont;
    font-size: xxx-large;
    color: white;
    -webkit-text-stroke: 1px white;
}

.end-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.end-text-1 {
    text-align: center;
    position: absolute;
    bottom: 75%;
    /* left: 5%; */
    pointer-events: none;
}

.end-text-2 {
    text-align: center;
    position: absolute;
    top: 75%;
    /* right: 5%; */
    pointer-events: none;
}

.end-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* full page height */
}

.nend-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* full page height */
}

.nend-image img {
    max-width: 20%;
    height: auto;
    transition: transform 0.3s ease;
    transform: translateY(-3%);
    z-index: 8;
}

.nend-image img:hover {
    transform: translateY(-3%) scale(1.2);
    transform-origin: center;
}

.end-image img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;
    transform: translateY(-3%);
    z-index: 8;
}

.end-image img:hover {
    transform: translateY(-3%) scale(1.2);
    transform-origin: center;
}

.floating {
    animation: float 5s ease-in-out infinite;
    --hover-scale: 1;
    animation-delay: var(--random-delay, 0s)
}

@keyframes float {
    0% {
        transform: translateY(0px) scale(var(--hover-scale));
    }

    25% {
        transform: translateY(10px) scale(var(--hover-scale));
    }

    75% {
        transform: translateY(-10px) scale(var(--hover-scale));
    }

    100% {
        transform: translateY(0px) scale(var(--hover-scale));
    }
}

/* background images*/
.bg0 {
    z-index: 1;
    background-image: url("../images/nighti.jpeg");
    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg1 {
    z-index: 1;
    background-image: url("../images/night1.jpeg");
    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg2 {
    z-index: 1;
    background-image: url("../images/night2.jpeg");
    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg3 {
    z-index: 1;
    background-image: url("../images/night3.jpeg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg4 {
    z-index: 1;
    background-image: url("../images/night4.jpeg");
    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}