@font-face {
    font-family: myFont;
    /* set name */
    src: url(../images/Stars-Regular.ttf);
    /* url of the font */
}

.cloud-button {
    z-index: 4;
    width: 350px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
}

.cloud-button:hover {
    transform: scale(1.35);
    transform-origin: center;
}

/*
Source - https://stackoverflow.com/a
Posted by Johannes
Retrieved 2025-12-15, License - CC BY-SA 4.0
*/

.fade-out {
    animation: fadeOut ease 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        transform: scale(1.6);
        opacity: 1;
    }

    100% {
        transform: scale(.7);
        opacity: 0;
    }
}

.star-button {
    z-index: 3;
    width: 100px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
}

.star-button:hover {
    transform: scale(1.35);
    transform-origin: center;
}

.stars {
    z-index: 1;
    width: 30px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
}

.clouds {
    z-index: 2;
    width: 500px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
}

.r2d2 {
    position: absolute;
    /* width: 500px; */
    /* height: auto; */
    /* z-index: 2; */
}

/* .background {
    margin-top: 1000px;
} */

html{
    overflow: hidden;

}
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.text {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.story-text {
    pointer-events: none;
    z-index: 10;

    font-family: myFont;
    text-align: center;
    font-size: xxx-large;
    color: white;
    -webkit-text-stroke: 1px white;
}

.blue{
    -webkit-text-stroke: 1px #63b4ff;
}
.purple{
    -webkit-text-stroke: 1px #ff6be1;
}
.green{
    -webkit-text-stroke: 1px #a9ff6f;
}
.yellow{
    -webkit-text-stroke: 1px #ffdf41;
}

.end-text-1, .end-text-2 {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    font-family: myFont;
    font-size: xxx-large;
    color: white;
    -webkit-text-stroke: 1px white;
}

.end-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    box-sizing: border-box;
}

.end-text-1 {
    /* margin: 0 0 0 100px; */
    /* padding-left: 5%; */
    text-align: left;

    position: absolute;
    bottom: 75%;
    left: 5%;
}

.end-text-2 {
    /* margin: 0 100px 0 0px; */
    /* padding-right: 5%; */
    /* padding-bottom: 15%; */
    text-align: right;

    position: absolute;
    top: 75%;
    right: 5%;
}

.end-image img {
    z-index: 8;

    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    transform: translateY(-3%);
}


.bg1 {
    background-image: url("../images/night1.jpeg");

    /* height: max-content; */

    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg2 {
    background-image: url("../images/night2.jpeg");

    height: 100%;

    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg3 {
    background-image: url("../images/night3.jpeg");

    /* height: 100%;
    width: 100%; */

    /* background-position: top left; */
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg4 {
    background-image: url("../images/night4.jpeg");

    height: 100%;

    background-position: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

/* .images{
    z-index: 8;
    position: absolute;
} */